version: '2'

services:

    phpmyadmin:
        container_name: phpmyadmin
        image: {{ PHPMYADMIN_IMAGE }}
        restart: always
        expose:
            - '80'
        ports:
            - "{{ PHPMYADMIN_PORT }}:80"
        environment:
            - PMA_ARBITRARY=1
